# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache/
.pytest_cache/
htmlcov/
.ipynb_checkpoints/

# OS
.bat

# Django-specific
media/         
static_cdn/    
*.sqlite3      
local_settings.py 

# Editors and IDEs
Thumbs.db

# Logs
*.log

# Temp files
*.tmp
*~

# css
*.css.map
static/css/css.txt

# Other
dist/
build/
.env
.prettierrc
SHABLONCHIK/
NOTES/