{% extends 'image/base.html' %}
{% load static %}

{% block content %}
    <main class="gap-10px main-profile">
        {% comment %} Секция профиля других {% endcomment %}
        <section class="width-100 flex-column align-items-center">
            <!-- Ошибки при изменении информации о пользователе -->
            {% if messages or form.non_field_errors %}
            <section class="flex-column gap-10px width-100" style="padding: 0 3rem 2rem 3rem;">
                <div style="width: 100%; text-align: left;">
                    <h3>Сообщения:</h3>
                </div>

                {% comment %} вывод ошибок {% endcomment %}
                <div class="{% if form.non_field_errors %}login-mistakes{% else %}login-success{% endif %}">
                    {% if messages %}
                        {% for messageItem in messages %}
                            <p class="{{ messageItem.tags }}"> {{ messageItem }} </p>
                        {% endfor %}
                    {% endif %}

                    {# Вывод общих ошибок формы (например, "Неверный логин или пароль") #}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p> {{ error }} </p>
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
            {% endif %}
            <!-- КОНЕЦ Ошибки при изменении информации о пользователе -->

            <div style="width: 100%; text-align: left;">
                <h3>Профиль</h3>
            </div>

            {% comment %} Сам профиль  {% endcomment %}
            <div class="flex-column gap-10px width-100">
                <!-- информация о профиле -->
                <div class="container-info-profile">
                    <!-- аватар -->
                    <div>
                        <!-- загруженное фото -->
                        <div class="container-img container-add-new-img-user-logo">
                            <img src="{{this_user.avatar.url}}" alt="Аватар пользователя">
                        </div>
                    </div>

                    <!-- имя, описание о себе -->
                    <div class="flex-column gap-20px">
                        <div class="flex-column">
                            <!-- имя пользователя -->
                            <h4>Имя пользователя:</h4>
                            <p>{{this_user.username}}</p>
                        </div>
                        
                        <div class="flex-column">
                            <!-- о себе -->
                            <h4>О себе:</h4>
                            <p>{{this_user.bio}}</p>
                        </div>
                    </div>
                </div>

                <!-- Подписаться-->
                <div class="flex width-100 align-items-center">
                    {% comment %} если подписка была сделана, то отписываться {% endcomment %}
                    {% if is_subscribed %}
                        <a class="button-red-confirm link to-left" style="color: white;" href="{% url 'users:unsubscribe' user_id=this_user.id %}">Отписаться</a>
                    {% else %}
                        <a class="button-green-confirm link to-left" style="color: white;" href="{% url 'users:subscribe' user_id=this_user.id %}">Подписаться</a>
                    {% endif %}
                    <!-- кол-во подписчиков -->
                    <div>
                        <p>Подписчиков: {{subscribers_count}}</p>
                    </div>
                </div>
            </div>
            {% comment %} КОНЕЦ поменять информацию о профиле  {% endcomment %}


            {% comment %} Публикации {% endcomment %}
            <section class="width-100">
                <div style="width: 100%; text-align: left;">
                    <h3>Публикации</h3>
                </div>

                <!-- Сами публикации -->
                {% for publicationsItem in publications %}
                    <article class="container-publication">
                        {% comment %} шапка {% endcomment %}
                        <header class="header-publication">
                            <!-- фото и имя пользователя -->
                            {% include 'image/_userName_and_userLogo.html' with user_id=publicationsItem.user.id user_avatar=publicationsItem.user.avatar user_name=publicationsItem.user.username  %}

                            <!-- дата публикации -->
                            <div class="container-publication-date">
                                <h4>Дата публикации: {{publicationsItem.created_at}}</h4>
                            </div>
                        </header>
                        {% comment %} КОНЕЦ шапка {% endcomment %}

                        {% comment %} место для фото {% endcomment %}
                        {% include 'image/_any_publication.html' with image=publicationsItem.image.url publication_id=publicationsItem.id number_likes=publicationsItem.like_count image_title=publicationsItem.image_name image_disc=publicationsItem.description is_liked=publicationsItem.is_liked_by_user %}
                    </article>
                {% empty %}
                <div class="width-100" style="text-align: center;">
                    <p>Нет публикаций</p>
                </div>
                {% endfor %}
                <!-- КОНЕЦ Сами публикации -->
            </section>
            {% comment %} КОНЕЦ Публикации {% endcomment %}
        </section>
        {% comment %} КОНЕЦ Секция профиля других {% endcomment %}
    </main>
{% endblock content %}
    