{% extends 'image/base.html' %}
{% load static %}

{% block content %}
    <main class="gap-10px main-profile">
        {% comment %} Секция профиля {% endcomment %}
        <section class="width-100 flex-column align-items-center">
            <div style="width: 100%; text-align: left;">
                <h3>Ваш профиль</h3>
            </div>

            {% comment %} поменять информацию о профиле  {% endcomment %}
            <form class="flex-column gap-10px" action="">
                <!-- поменять профиль -->
                <div class="container-info-profile">
                    <!-- сменить аватар -->
                    <div>
                        <!-- загруженное фото -->
                        <div class="container-img container-add-new-img-user-logo">
                            <img id="imagePreview" src="{% static 'page_pictures/page decorations/img-for-upload.jpg' %}" alt="Предварительный просмотр фото">
                        </div>
                    </div>

                    <!-- поменять имя, описание о себе -->
                    <div class="flex-column jstf-cnt-sp-btw">
                        <div class="form">
                            <!-- имя пользователя -->
                            <label for="publication-name"><h4>Имя пользователя:</h4></label>
                            <input type="text" name="publication-name" id="publication-name" maxlength="30">
                        </div>
                        
                        <div class="form">
                            <!-- Расскажите о себе -->
                            <label for="publication-disc"><h4>Расскажите о себе:</h4></label>
                            <textarea style="resize: none;" name="publication-disc" id="publication-disc" rows="10"></textarea>
                        </div>
                    </div>
                </div>

                <!-- подтвердить изменения -->
                <div class="flex jstf-cnt-sp-btw width-100 align-items-center">
                    <!-- добавить фото -->
                    <input class="" type="file" id="imageUploadInput" accept="image/*">
                    <button class="button-green-confirm" type="submit">Обновить профиль</button>
                </div>
            </form>
            {% comment %} КОНЕЦ поменять информацию о профиле  {% endcomment %}


            {% comment %} Публикации {% endcomment %}
            <section>
                <div style="width: 100%; text-align: left;">
                    <h3>Ваши Публикации</h3>
                </div>

                <!-- Сами публикации -->
                <article class="container-publication">
                    {% comment %} шапка {% endcomment %}
                    <header class="header-publication">
                        <!-- фото и имя пользователя -->
                        {% include 'image/_userName_and_userLogo.html' with link_to_user='#' user_logo='' user_name='имя пользователя'  %}

                        <!-- дата публикации -->
                        <div class="container-publication-date">
                            <h4>Дата публикации: 12.12.12</h4>
                        </div>
                    </header>
                    {% comment %} КОНЕЦ шапка {% endcomment %}

                    {% comment %} место для фото {% endcomment %}
                    {% include 'image/_any_publication.html' with like_link='#' number_likes='число лайков' image_title='заголовок фото' image_disc='это Описание фото' %}
                </article>
                <!-- КОНЕЦ Сами публикации -->

                <!-- добавить публикацию -->
                <a class="container-add-publication link profile-add-publication" href="{% url 'image:add_publication' %}" style="height: 500px;">
                    <div class="group-special-container-add-publication">
                        <div class="special-container-add-publication-plus">
                            <p>+</p>
                        </div>
                        <div class="special-container-add-publication-title">
                            <p>Добавить публикацию</p>
                        </div>
                    </div>
                </a>
            </section>
            {% comment %} КОНЕЦ Публикации {% endcomment %}
        </section>
        {% comment %} КОНЕЦ Секция профиля {% endcomment %}
    </main>
{% endblock content %}
    

{% block js %}
<script src="{% static 'js/upload_img.js' %}"></script>
{% endblock js %}
    