{% extends 'image/base.html' %}
{% load static %}

{% block content %}
    <main class="gap-10px main-profile">
        {% comment %} Секция профиля {% endcomment %}
        <section class="width-100 flex-column">
            <div style="width: 100%; text-align: left;">
                <h3>Ваш профиль</h3>
            </div>

            {% comment %} поменять информацию о профиле  {% endcomment %}
            <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data" class="flex-column gap-10px">
                {% csrf_token %}

                <!-- поменять профиль -->
                <div class="container-info-profile">
                    <!-- сменить аватар -->
                    <div>
                        <!-- загруженное фото -->
                        <div class="container-img container-add-new-img-user-logo">
                        {% comment %} Если у пользователя нет фото, то ему по дефолту будут выдавать {% endcomment %}
                            <img id="imagePreview" src="{% if user.avatar %}{{user.avatar.url}}{% else %}{% static 'page_pictures/page decorations/img-for-upload.jpg' %}{% endif %}" alt="Предварительный просмотр фото">
                        </div>
                    </div>

                    <!-- поменять имя, описание о себе -->
                    <div class="flex-column jstf-cnt-sp-btw">
                        <div class="form">
                            <!-- имя пользователя -->
                            <label for="{{form.username.id_for_label}}"><h4>Имя пользователя:</h4></label>
                            {{form.username}}
                        </div>
                        
                        <div class="form">
                            <!-- Расскажите о себе -->
                            <label for="{{form.bio.id_for_label}}"><h4>Расскажите о себе:</h4></label>
                            {{form.bio}}
                        </div>
                    </div>
                </div>

                <!-- подтвердить изменения -->
                <div class="flex jstf-cnt-sp-btw width-100 align-items-center">
                    <!-- добавить фото -->
                    {{form.avatar}}

                    <!-- выйти или обновить -->
                    <div>
                        <a class="button-red-confirm link" style="color: white;" href="{% url 'users:logout' %}">Выйти из профиля</a>
                        <button class="button-green-confirm" type="submit">Обновить профиль</button>
                    </div>
                </div>
            </form>
            {% comment %} КОНЕЦ поменять информацию о профиле  {% endcomment %}

            <!-- Ошибки при изменении информации о пользователе -->
            {% if messages or form.non_field_errors %}
            <section class="flex-column gap-10px width-100" style="padding: 0 3rem 2rem 3rem;">
                <div style="width: 100%; text-align: left;">
                    <h3>Ошибки при изменении информации о пользователе:</h3>
                </div>

                {% comment %} вывод ошибок {% endcomment %}
                <div class="login-mistakes">
                    {% if messages %}
                        {% for messageItem in messages %}
                            <p class="{{ messageItem.tags }}"> {{ messageItem }} </p>
                        {% endfor %}
                    {% endif %}

                    {# Вывод общих ошибок формы (например, "Неверный логин или пароль") #}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p> {{ error }} </p>
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
            {% endif %}
            <!-- КОНЕЦ Ошибки при изменении информации о пользователе -->

            {% comment %} Публикации {% endcomment %}
            <section>
                <div style="width: 100%; text-align: left;">
                    <h3>Ваши публикации</h3>
                </div>

                <!-- Сами публикации -->
                {% comment %} если есть фото {% endcomment %}
                {% if images %}
                    {% for imageItem in images %}
                        <article class="container-publication">
                        {% comment %} шапка {% endcomment %}
                        <header class="header-publication">
                            <!-- фото и имя пользователя -->
                            {% include 'image/_userName_and_userLogo.html' with link_to_user='#' user_logo='' user_name='имя пользователя'  %}

                            <!-- дата публикации -->
                            <div class="container-publication-date">
                                <h4>Дата публикации: {{imageItem.created_at}}</h4>
                            </div>
                        </header>
                        {% comment %} КОНЕЦ шапка {% endcomment %}

                        {% comment %} место для фото {% endcomment %}
                        {% include 'image/_any_publication.html' with image=imageItem.image.url like_link='#' number_likes='число лайков' image_title=imageItem.image_name image_disc=imageItem.description %}
                    </article>
                    <!-- КОНЕЦ Сами публикации -->
                    {% endfor %}
                {% else %} 
                    <div class="flex-column width-100">
                        <h2 style="text-align: center;">У вас нет публикаций :(</h2>
                    </div>
                {% endif %}
                

                <!-- добавить публикацию -->
                <a class="container-add-publication link profile-add-publication" href="{% url 'image:add_publication' %}" style="height: 500px;">
                    <div class="group-special-container-add-publication">
                        <div class="special-container-add-publication-plus">
                            <p>+</p>
                        </div>
                        <div class="special-container-add-publication-title">
                            <p>Добавить публикацию</p>
                        </div>
                    </div>
                </a>
            </section>
            {% comment %} КОНЕЦ Публикации {% endcomment %}
        </section>
        {% comment %} КОНЕЦ Секция профиля {% endcomment %}
    </main>
{% endblock content %}
    

{% block js %}
<script src="{% static 'js/profile_avatar_preview.js' %}"></script>
{% endblock js %}
    