{% extends 'image/base.html' %}
{% load static %}


{% block content %}
<main class="main-login">
    <section class="width-100 flex-column align-items-center">
        <header class="flex width-100 align-items-center jstf-cnt-sp-btw p-lg">
            <div>
                <h3>Регистрация</h3>
            </div>

            <div>
                <a class="link t-underline" href="{% url 'users:login' %}">
                    <p>Уже есть аккаунт?</p>
                </a>
            </div>
        </header>

        <!-- форма Авторизации -->
        <form action="{% url 'users:registration' %}" method="post" class="form" style="padding: 1rem 3rem; gap: 30px;">
            {% csrf_token %}

            <!-- таблица из двух колонок -->
            <div class="form-registration">
                <!-- левый -->
                <div class="flex-column jstf-cnt-sp-btw width-100 gap-10px" style="gap: 15px;">
                    <!-- имя -->
                    <label for="{{form.first_name.id_for_label}}"><h4>Имя</h4></label>
                    {{form.first_name}}

                    <!-- имя пользователя -->
                    <label for="{{form.username.id_for_label}}"><h4>Имя пользователя</h4></label>
                    {{form.username}}

                    <!-- пароль -->
                    <label for="{{form.password1.id_for_label}}"><h4>Пароль</h4></label>
                    {{form.password1}}
                </div>
                <!-- КОНЕЦ левый -->

                <!-- правый -->
                <div class="flex-column jstf-cnt-sp-btw width-100" style="gap: 15px;">
                    <!-- Фамилия -->
                    <label for="{{form.last_name.id_for_label}}"><h4>Фамилия</h4></label>
                    {{form.last_name}}

                    <!-- Адрес электронной почты -->
                    <label for="{{form.email.id_for_label}}"><h4>Адрес электронной почты</h4></label>
                    {{form.email}}                    

                    <!-- Подтверждение пароля -->
                    <label for={{form.password2.id_for_label}}><h4>Подтверждение пароля</h4></label>
                    {{form.password2}}                    
                </div>
                <!-- КОНЕЦ правый -->
            </div>
            <!-- КОНЕЦ таблица из двух колонок -->

            <button class="button-green-confirm t-md" type="submit">Зарегистрироваться</button>
        </form>

        <br>

        <!-- ошибки при регистрации -->
        {% if messages or form.non_field_errors %}
        <section class="flex-column gap-10px width-100" style="padding: 0 3rem 2rem 3rem;">
            <div style="width: 100%; text-align: left;">
                <h3>Ошибки при регистрации:</h3>
            </div>

            {% comment %} вывод ошибок {% endcomment %}
            <div class="login-mistakes">
                {% if messages %}
                    {% for messageItem in messages %}
                        <p class="{{ messageItem.tags }}"> {{ messageItem }} </p>
                    {% endfor %}
                {% endif %}

                {# Вывод общих ошибок формы (например, "Неверный логин или пароль") #}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p> {{ error }} </p>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
        {% endif %}
        <!-- КОНЕЦ ошибки при регистрации -->
    </section>
</main>
{% endblock content %}
    