// мэин авторизации
.main-login {
    margin: 2rem 10rem;
    padding: 0;
}

// форма авторизации
.form-login {
    padding: 0 10rem;
    gap: 20px;
}

// форма регистрации
.form-registration {
    // grid
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

    input {
        padding: 8px;
    }
}

// ошибки при авторизации/регистрации
.login-mistakes {
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: var(--bg-alert);
    color: var(--text-white);
}