// стили для index.html
@use './mixins' as *;

// главный контейнер публикации
.container-publication {
    width: 100%;
}

// #region Фото пользователя и имя пользователя
    .container-short-user-info {

        // flex
        display: flex;
        gap: 10px;
    }

    // фото пользователя
    .container-user-avatar {
        // стили для контейнера
        max-width: 40px;
        height: auto;
        display: flex; // Для правильного растягивания
        aspect-ratio: 1/1;
        border-radius: 100%;


        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            // object-fit: cover; // заполнить весь контейнер
        }
    }

    // имя пользователя
    .user-name {

    }
// #endregion Фото пользователя и имя пользователя
