// блок с линией
.container-line-aside {
    $border-width-line-aside: 4px; // ширина линии

    // отступы левой линии
    $left-line-margin-right: 8px;
    $left-line-margin-left: 15px;
    $left-line-margin-top: 5px;
    $left-line-margin-bottom: 5px;

    // отступы правой линии
    $right-line-margin-right: 3px;
    $right-line-margin-left: 8px;
    $right-line-margin-top: 5px;
    $right-line-margin-bottom: 5px;

    background-color: var(--container-line-aside-bg-color);

    // flex
    display: flex;
    flex-direction: row;

    // для линий слева и справа
    .left-line-aside, .right-line-aside {
        border-left: $border-width-line-aside solid var(--text-blue);
    }

    // линия слева
    .left-line-aside {
        margin: $left-line-margin-top $left-line-margin-right $left-line-margin-bottom $left-line-margin-left;
    }

    // линия справа
    .right-line-aside {
        margin: $right-line-margin-top $right-line-margin-right $right-line-margin-bottom $right-line-margin-left;
    }
}

// добавить публикацию со знаменитым плюсиком по центру
.container-add-publication {
    width: 100%;
    color: black;
    border-radius: 25px;
    border: 1px solid black;
    cursor: pointer;

    // flex
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    // контейнер для плюс и подпись
    .group-special-container-add-publication {
        // flex
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    // контейнер со знаменитым плюсиком по центру
    .special-container-add-publication-plus {
        p {
            font-size: 100px;
            font-weight: bold;
        }
    }

    // подпись под плюсиком
    .special-container-add-publication-title {

    }
}

// #region контейнер фото
    // контейнер 1 фото
    .container-img {
        // стили для контейнера
        width: 100%;
        height: auto;
        display: flex; // Для правильного растягивания

        img {
            width: 100%;
            height: 100%;
        }
    }
// #endregion контейнер фото

// #region кнопки
    // КНОПКИ ТРЕБУЕТ FLEX У РОДИТЕЛЯ //

    // кнопка зеленая
    .button-green-confirm {
        padding: 8px 15px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #218838;
        }
    }

    // кнопка красная
    .button-red-confirm {
        padding: 8px 15px;
        background-color: var(--color-button-2);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #ff6767;
        }
    }

    // кнопка серая
    .button-gray-confirm {
        padding: 8px 15px;
        background-color: var(--color-button-1);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #bdaaaa;
        }
    }
// #endregion кнопки
