@use './specialComponents';
@use './specialClasses';
@use './ForMP';
@use './mixins' as *;
 
// страницы
@use './ForIndex';
@use './ForAddNewPublication';
  
// index.scss 
/*---------------------------------VARIABLES---------------------------------*/
$font-size: 20pt; // размер шрифта


/*---------------------------------END VARIABLES---------------------------------*/
/*---------------------------------TECHNICAL---------------------------------*/

// ко всем классам и айди, которые только для телефонов
[class$="-MP"], [id*="-MP"], .MP {
  display: none;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// задать заголовкам размеры
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}

// задать размер шрифта тексту
p {
    font-size: $font-size;
    color: var(--main-text);
}

// корректные стили списков с исключением для кнопок навигации
ul:not(nav ul), ol {
    list-style: none; // контроль для кастомных списков

    // Элемент списка
    li {
        padding-left: 0;

        // flex
        display: flex;
        align-items: baseline; 

        // кастомные маркеры
        &::before {
            // вид маркеров
            content: counter(list-item) ".";
            counter-increment: list-item;

            // Стили для самого маркера (цифры)
            font-size: $font-size;
            font-weight: bold;
            color: var(--text-blue);

            // стили
            margin-right: 0.5em; // Отступ между marker и li
            min-width: 1.5em; // минимальная ширина, чтобы не прыгал от многозначных цифр
            text-align: right;
        }

        // текст
        p {
            margin: 0; // Убрать любые стандартные отступы у параграфов внутри li
            flex-grow: 1; // Позволит параграфу занять оставшееся пространство
        }
    }
}

// светлая тема
body {
    --bg-color: #2C2C2C; //фон
    --div-main: #D9D9D9; // главный блок
    --div-hat: #A3BED9; //хидер/футер/шапки блоков
    --div-image-disc: #f1bf8e; // блок описание фото
    --div-image-title: #AAC6E3; // блок подпись для фото
    --bg-form-color: #E5FCFF; // задний фон для заполнения форм
    --bg-alert: #FEB3B3; // предупреждение
    --color-button-1:    #F6ECEC; // кнопки 1
    --color-button-2:    #FF9A9A; // кнопки 2
    --color-button-3:    #A5FAAF; // кнопки 3
    --button-illum:    #C4D6E8; // подсветка кнопок хидера
    --text-white:    #FFFFFF; // текст 1
    --text-black:    #000000; // текст 2

    background-color: var(--bg-color);
    transition: background-color 0.3s ease;

    // для контейнеров плавная анимация переключения темы
    header, footer {
        transition: background-color 0.3s ease;
    }

    // для всех фото
    .isimage {
        filter: brightness(1);
        transition: filter 0.3s ease;
    }
}
/*---------------------------------END TECHNICAL---------------------------------*/

// #region Header
    header {
        width: 100%;
        background-color: var(--div-hat);
        padding: 1rem;

        // flex
        display: flex;
        flex-direction: column;
    }

    // верхняя часть хидера
    #header-top {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    // контейнер с навигацией и кнопкой переключении темы для ПК
    .container-nav-theme-toggle-PC {
        margin-left: auto; // поместить вправо

        // flex
        display: flex;
        flex-direction: row;
        align-items: center;


        // кнопки навигации
        nav  { 
            flex: auto;
            padding: 0 1rem 0 1rem;

            // flex
            display: flex;
            align-items: center;
            justify-items: end;

            // список
            ul {
                margin-left: auto;
                list-style: none;                

                // flex
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
            }
        }
    }

    // кнопки навигации
    .nav_button {
        background-color: var(--div-hat);
        color: var(--text-white);
        padding: 10px;
        border: none;
        font-size: 17pt;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;

        &:hover {
            background-color: var(--button-illum);
            cursor: pointer;
        }
    }

    // логотип
    #container-main-logo {
        margin-left: 15px;

        // для изображения
        width: 180px;
        display: flex; // Для правильного растягивания

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
    }

    // кнокпа переключения темы
    #container-night-theme-toggle {
        margin-left: auto; // поместить вправо
        background-color: var(--div-hat);
        border-radius: 25px;
        padding: 5px;
        cursor: pointer;

        // фото переключения темы
        @include imgs_no_border(4rem);


        &:hover {
            background-color: var(--button-illum);
        }
    }
// #endregion Header

// #region main
    main {
        margin: 2rem 3rem 2rem 3rem;
        padding: 3rem;
        background-color: var(--div-main);
        border-radius: 25px;

        // flex
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // страницы сайта
    section {
        // flex
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
// #endregion main

// #region Footer
    footer {
        width: 100%;
        background-color: var(--div-hat);
        color: var(--div-text);

        // flex
        display: flex;
        flex-direction: row;
    }

    // левая часть 
    .footer-left {
        width: 50%;
        padding: 30px;
        font-style: normal; // убрать italic для address

        // контейнер который группирует текст
        div {
            // flex
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        // сделать цвет для каждого
        p {
            color: var(--div-text);
        }

        // выделить
        strong {
            font-style: italic;
        }
    }

    // правая часть
    .footer-right {
        width: 50%;
        padding: 30px;

        // flex
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // разделительная линия
    .footer-line-between {
        border-left: 2px solid var(--div-text);
        margin: 20px 0 20px 0;
    }
// #endregion Footer

// #region модальные окна
    // Общие стили модального окна
    .modal {
        display: none; 
        position: fixed; 
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4); 
    }

    // Контент модального окна
    .modal-content {
        background-color: #fff;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        border-radius: 8px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        position: relative;

        // // кнопка
        // button {
        //     padding: 8px 15px;
        //     background-color: #28a745;
        //     color: white;
        //     border: none;
        //     border-radius: 4px;
        //     cursor: pointer;
        //     margin-top: 15px;

        //     &:hover {
        //         background-color: #218838;
        //     }
        // }
    }

    // Кнопка закрытия 
    .close-button {
        color: #f0ecec;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        right: 5px;
        cursor: pointer;

        background-color: #c5aeae;
        padding: 5px 10px; 
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;

        &:hover, &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
// #endregion модальные окна

// #region формы
    // Форма добавить комментарий
    .form {
        width: 100%;

        // flex
        display: flex;
        flex-direction: column;

        input, textarea {
            padding: 8px;
        }
    }

    // заголовок и поля для заполнения комментария
    .comment-add {
        color: var(--text-white);

        // flex
        display: flex;
        flex-direction: column;
        gap: 10px;

        textarea {
            resize: none;
        }
    }
// #endregion формы
