{% load static %}
{% comment %} Это должно обязательно быть внутри article с классом container-publication. Также иметь header {% endcomment %}

{% comment %} 
    Переменные:
    image
    publication_id
    number_likes
    image_title
    image_disc
    is_liked
    is_profile
{% endcomment %}

<!-- фото -->
<div class="container-img-publication">
    {% comment %} здесь должна быть переменная image {% endcomment %}
    <img class="isimage" src="{{image}}" alt="">
</div>


{% comment %} заголовок фото {% endcomment %}
<div class="container-title-publication">
    <!-- лайки -->
    <div class="container-like">
        {% comment %} если это профиль пользователя {% endcomment %}
        {% if is_profile %}
            {% comment %} статичная картинка {% endcomment %}
            <div class="button-like">
                <img class="isimage" src="{% static 'page_pictures/page decorations/heart_red.png' %}" alt="Лайк">
            </div>
        {% else %}
            {% comment %} можно ставить, удалять лайк {% endcomment %}
            <a href="{% url 'image:like' image_id=publication_id %}" class="button-like">
                {% if is_liked %}
                    <img class="isimage" src="{% static 'page_pictures/page decorations/heart_red.png' %}" alt="Liked">
                {% else %}
                    <img class="isimage" src="{% static 'page_pictures/page decorations/heart.png' %}" alt="Not Liked">
                {% endif %}
            </a>
        {% endif %}
        
        <div>
            <p>{{number_likes}}</p>
        </div>
    </div>

    <!-- заголовок -->
    <div class="container-title">
        <h3>{{image_title}}</h3>
    </div>
</div>
{% comment %} КОНЕЦ заголовок фото {% endcomment %}


{% comment %} Описание фото {% endcomment %}
<div class="container-publication-disc">
    <h4>Описание фото:</h4>
    <p>{{image_disc}}</p>
</div>
{% comment %} КОНЕЦ Описание фото {% endcomment %}
