{% load static %}

<!-- HEADER -->
<header>
    <!--  верхний блок  -->
    <div id="header-top">
        <!--  логотип  -->
        <a href="#">
            <div id="container-main-logo">
                <img class="isimage" src="{% static 'page_pictures/PictroGram_logo.jpg' %}" alt="Логотип ЦДЮ" />
            </div>
        </a>
        
        <!--  кнопка для бургер меню (Для телефонов)  -->
        <button onClick={} class="nav_button but-open-menu-MP">☰</button>
            
        <!--  блок с НАВИГАЦИЕЙ и ПЕРЕКЛЮЧЕНИЕМ ТЕМЫ для ПК  -->
        <div class="container-nav-theme-toggle-PC">
            <!--  навигация  -->
            <nav>
                <ul>
                    <li>
                        <a href="#" class="nav_button">
                            Создать публикацию
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav_button">
                            Подписки
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav_button">
                            Лента
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav_button">
                            Профиль
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--  КОНЕЦ блок с НАВИГАЦИЕЙ и ПЕРЕКЛЮЧЕНИЕМ ТЕМЫ для ПК  -->
    </div>
    <!--  КОНЕЦ верхний блок  -->

    <!--  нижний блок (для телефонов)  -->
    <div id="header-bottom">
        <!--  блок с НАВИГАЦИЕЙ и ПЕРЕКЛЮЧЕНИЕМ ТЕМЫ для МТ  -->
        <div class="container-nav-theme-toggle-MP">
            <!--  навигация  -->
            <nav>
                <ul>
                    <li>
                        <a href="#" class="nav_button" >
                            Создать публикацию
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav_button" >
                            Подписки
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav_button" >
                            Лента
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav_button" >
                            Профиль
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--  КОНЕЦ блок с НАВИГАЦИЕЙ и ПЕРЕКЛЮЧЕНИЕМ ТЕМЫ для МТ  -->
    </div>
    <!--  КОНЕЦ нижний блок (для телефонов)  -->
</header>
<!-- END HEADER -->