{% load static %}
{% comment %} TODO поменять фото пользователя {% endcomment %}

{% comment %} 
    Переменные:
    user_id
    user_avatar
    user_name
{% endcomment %}

{% comment %} если есть ссылка на профиль пользователя {% endcomment %}
{% if user_id %}
    <a class="link" href="{% url 'users:profile_other' user_id=user_id %}" title="Перейти на профиль пользователя">
        <!-- Фото пользователя и имя пользователя -->
        <div class="container-short-user-info">
            <!-- фото пользователя -->
            <div class="container-user-avatar">
                <img class="isimage" src="{{ user_avatar }}" alt="">
            </div>

            <!-- имя пользователя -->
            <h4 class="user-name">{{ user_name }}</h4>
        </div>
    </a>
{% comment %} если ссылки нет {% endcomment %}
{% else %} 
    <div>
        <!-- Фото пользователя и имя пользователя -->
        <div class="container-short-user-info">
            <!-- фото пользователя -->
            <div class="container-user-avatar">
                <img class="isimage" src="{{ user_avatar }}" alt="">
            </div>

            <!-- имя пользователя -->
            <h4 class="user-name">{{ user_name }}</h4>
        </div>
    </div>
{% endif %}
