{% extends 'image/base.html' %}
{% load static %}


{% block content %}
    <section class="section-add-new-publication">
        <div style="width: 100%; text-align: left;">
            <h3>Добавить публикацию</h3>
        </div>

        <form class="form gap-10px" action="">
            <div>

            </div>
            <!-- загруженное фото -->
            <div class="container-img container-add-new-img">
                <img src="" alt="">
            </div>

            <!-- добавить фото -->
            <input type="file">
        </form>
    </section>
{% endblock content %}
