{% extends 'image/base.html' %}
{% load static %}


{% block content %}
<main class="gap-20px main-add-new-publication">
    <section class="width-100 flex-column align-items-center">
        <div style="width: 100%; text-align: left;">
            <h3>Добавить публикацию</h3>
        </div>

        <form class="form gap-10px" action="">
            <!-- загруженное фото -->
            <div class="container-img container-add-new-img">
                <img id="imagePreview" src="{% static 'page_pictures/page decorations/img-for-upload.jpg' %}" alt="Предварительный просмотр фото">
            </div>

            <!-- добавить фото -->
            <input class="button-green-confirm to-left" type="file" id="imageUploadInput" accept="image/*">


            <!-- название публикации -->
            <label for="publication-name"><h4>Название публикации:</h4></label>
            <input type="text" name="publication-name" id="publication-name" maxlength="30">


            <!-- Описание публикации -->
            <label for="publication-disc"><h4>Описание публикации:</h4></label>
            <textarea style="resize: none;" name="publication-disc" id="publication-disc" rows="10"></textarea>

            <button class="button-green-confirm to-right" type="submit">Добавить публикацию</button>
        </form>

        <!-- ошибки при добавлении -->
        <section class="flex-column gap-10px width-100">
            <div style="width: 100%; text-align: left;">
                <h3>Ошибки при добавлении публикации:</h3>
            </div>

            <div class="login-mistakes">
                <ol>
                    <li><p>Имя не может быть пустым</p></li>
                </ol>
            </div>
        </section>
    </section>
</main>
{% endblock content %}


{% block js %}
<script src="{% static 'js/upload_img.js' %}"></script>
{% endblock js %}
    