{% comment %} image/base.html {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Творим рядом</title>
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
</head>


<body>
    {% comment %} header {% endcomment %}
    {% include 'image/_header.html' %}
        

    <!-- мэин и эсайд -->
    <div id="container-main-aside">
        <!-- мэин-->
        <main>
           {% block content %}
            
           {% endblock content %}
        </main>
        <!-- КОНЕЦ мэин-->


        <!-- эсайд -->
        <aside aria-label="Боковая панель">
           
        </aside>
        <!-- КОНЕЦ эсайд -->
    </div>
    <!-- КОНЕЦ мэин и эсайд -->

    {% comment %} footer {% endcomment %}
    {% include 'image/_footer.html' %}

    <!-- JS -->
    <!-- Темная тема -->
    <script src="theme_toggle.js"></script>
    <!-- END JS -->
</body>
</html>
