{% comment %} image/base.html {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Творим рядом</title>
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
    <link rel="icon" href="{% static 'page_pictures/PictroGram_favicon_logo.png' %}" type="image/png">
</head>


<body>
    {% comment %} header {% endcomment %}
    {% include 'image/_header.html' %}
        

    <!-- мэин-->
    {% block content %}
    
    {% endblock content %}
    <!-- КОНЕЦ мэин-->
   

    {% comment %} footer {% endcomment %}
    {% comment %} {% include 'image/_footer.html' %} {% endcomment %}

    <!-- JS -->
    <!-- Темная тема -->
    <script src="theme_toggle.js"></script>
    {% block js %}
        
    {% endblock js %}
    <!-- END JS -->
</body>
</html>
