{% extends 'image/base.html' %}
{% load static %}
{% comment %} image/index.html {% endcomment %}


{% block content %}
    {% comment %} главный контейнер с фото и комментариями {% endcomment %}
    <article class="container-publication">
        {% comment %} шапка {% endcomment %}
        <header class="header-publication">
            <!-- фото и имя пользователя -->
            {% include 'image/_userName_and_userLogo.html' with link_to_user='#' user_logo='' user_name='имя пользователя'  %}

            <!-- дата публикации -->
            <div class="container-publication-date">
                <h4>Дата публикации: 12.12.12</h4>
            </div>
        </header>
        {% comment %} КОНЕЦ шапка {% endcomment %}


        <!-- фото -->
        <div class="container-img">
            <img class="isimage" src="{% static 'page_pictures/test.jpg' %}" alt="">
        </div>


        {% comment %} заголовок фото {% endcomment %}
        <div class="container-title-publication">
            <!-- лайки -->
            <div class="container-like">
                <a href="#" class="button-like">
                    <img class="isimage" src="{% static 'page_pictures/page decorations/heart.png' %}" alt="">
                </a>

                <div>
                    <p>число лайков</p>
                </div>
            </div>

            <!-- заголовок -->
            <div class="container-title">
                <h3>заголовок фото</h3>
            </div>
        </div>
        {% comment %} КОНЕЦ заголовок фото {% endcomment %}


        {% comment %} Описание фото {% endcomment %}
        <div class="container-publication-disc">
            <h4>Описание фото:</h4>
            <p>Текст фото</p>
        </div>
        {% comment %} КОНЕЦ Описание фото {% endcomment %}


        {% comment %} Комментарии {% endcomment %}
        <section class="container-comments-section">
            <h4>Комментарии:</h4>
            
            <!-- сам комментарий -->
            <article class="container-comment">
                <!-- шапка комментария -->
                <header>
                    <!-- фото и имя пользователя -->
                    {% include 'image/_userName_and_userLogo.html' with link_to_user='#' user_logo='' user_name='имя пользователя'  %}

                    <!-- дата публикации -->
                    <div class="container-publication-date-comment">
                        <h4>Дата публикации: 12.12.12</h4>
                    </div>
                </header>
                
                <!-- текст комментария -->
                <div class="container-comment-content">
                    <p>текст комментария</p>
                </div>
            </article>
            <!-- КОНЕЦ сам комментарий -->

            <!-- добавить комментарий -->
            <div id="add_comment" class="container-add-publication">
                <div class="special-container-add-publication-plus">
                    <p>+</p>
                </div>
                <div class="special-container-add-publication-title">
                    <p>Добавить комментарий</p>
                </div>
            </div>
        </section>
        {% comment %} КОНЕЦ Комментарии {% endcomment %}
    </article>
    {% comment %} КОНЕЦ главный контейнер с фото и комментариями {% endcomment %}


{% endblock content %}
    