{% extends 'image/base.html' %}
{% load static %}
{% comment %} image/index.html {% endcomment %}


{% block content %}
<main class="gap-20px main-index">
    {% comment %} главный контейнер с фото и комментариями {% endcomment %}
    <article class="container-publication">
        {% comment %} шапка {% endcomment %}
        <header class="header-publication">
            <!-- фото и имя пользователя -->
            {% include 'image/_userName_and_userLogo.html' with link_to_user='#' user_logo='' user_name='имя пользователя'  %}

            <!-- дата публикации -->
            <div class="container-publication-date">
                <h4>Дата публикации: 12.12.12</h4>
            </div>
        </header>
        {% comment %} КОНЕЦ шапка {% endcomment %}


        {% comment %} место для фото {% endcomment %}
        {% include 'image/_any_publication.html' with like_link='#' number_likes='число лайков' image_title='заголовок фото' image_disc='это Описание фото' %}

        {% comment %} Комментарии {% endcomment %}
        <section class="container-comments-section">
            <h4>Комментарии:</h4>
            
            <!-- сам комментарий -->
            <article class="container-comment">
                <!-- шапка комментария -->
                <header>
                    <!-- фото и имя пользователя -->
                    {% include 'image/_userName_and_userLogo.html' with link_to_user='#' user_logo='' user_name='имя пользователя'  %}

                    <!-- дата публикации -->
                    <div class="container-publication-date-comment">
                        <h4>Дата публикации: 12.12.12</h4>
                    </div>
                </header>
                
                <!-- текст комментария -->
                <div class="container-comment-content">
                    <p>текст комментария</p>
                </div>
            </article>
            <!-- КОНЕЦ сам комментарий -->

            <!-- добавить комментарий -->
            <div id="add_comment_button" class="container-add-publication">
                <div class="special-container-add-publication-plus">
                    <p>+</p>
                </div>
                <div class="special-container-add-publication-title">
                    <p>Добавить комментарий</p>
                </div>
            </div>
        </section>
        {% comment %} КОНЕЦ Комментарии {% endcomment %}
    </article>
    {% comment %} КОНЕЦ главный контейнер с фото и комментариями {% endcomment %}


    {% comment %} Модальное окно {% endcomment %}
    <div id="commentModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <form class="form" action="">
                <!-- заголовок и поля для заполнения комментария -->
                <div class="container-publication-disc comment-add">
                    <label for="comment_content"><h4>Комментарий:</h4></label>
                    <textarea name="comment_content" id="comment_content" rows="10"></textarea>
                </div>
                <button class="button-green-confirm">Добавить</button>
            </form>
        </div>
    </div>
    {% comment %} КОНЕЦ Модальное окно {% endcomment %}
</main>
{% endblock content %}
    

{% block js %}
    <script src="{% static 'js/open_comments.js' %}"></script>
{% endblock js %}
    