{% extends 'image/base.html' %}
{% load static %}
{% comment %} image/index.html {% endcomment %}


{% block content %}
<main class="gap-20px main-index">
    <!-- Сообщения -->
    {% if messages or form.non_field_errors %}
    <section class="flex-column gap-10px width-100" style="padding: 0 3rem 2rem 3rem;">
        <div style="width: 100%; text-align: left;">
            <h3>Сообщения:</h3>
        </div>

        {% comment %} вывод ошибок {% endcomment %}
        <div class="{% if form.non_field_errors %}login-mistakes{% else %}login-success{% endif %}">
            {% if messages %}
                {% for messageItem in messages %}
                    <p class="{{ messageItem.tags }}"> {{ messageItem }} </p>
                {% endfor %}
            {% endif %}

            {# Вывод общих ошибок формы (например, "Неверный логин или пароль") #}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p> {{ error }} </p>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    {% endif %}
    <!-- КОНЕЦ Сообщения -->

    {% comment %} главный контейнер с фото и комментариями {% endcomment %}
    {% for publicationsItem in publications %}
    <article class="container-publication">
        {% comment %} шапка {% endcomment %}
        <header class="header-publication">
            <!-- фото и имя пользователя -->
            {% include 'image/_userName_and_userLogo.html' with user_id=publicationsItem.user.id user_avatar=publicationsItem.user.avatar user_name=publicationsItem.user.username  %}

            <!-- дата публикации -->
            <div class="container-publication-date">
                <h4>Дата публикации: {{publicationsItem.created_at}}</h4>
            </div>
        </header>
        {% comment %} КОНЕЦ шапка {% endcomment %}


        {% comment %} место для фото {% endcomment %}
        {% include 'image/_any_publication.html' with image=publicationsItem.image.url publication_id=publicationsItem.id number_likes=publicationsItem.like_count image_title=publicationsItem.image_name image_disc=publicationsItem.description is_liked=publicationsItem.is_liked_by_user %}
        

        {% comment %} Комментарии {% endcomment %}
        <section class="container-comments-section">
            <h4>Комментарии:</h4>
            
            
            {% for commentItem in publicationsItem.image_comments.all %}
            <!-- сам комментарий -->
            <article class="container-comment">
                <!-- шапка комментария -->
                <header>
                    <!-- фото и имя пользователя -->
                    {% include 'image/_userName_and_userLogo.html' with user_id=commentItem.user.id user_avatar=commentItem.user.avatar user_name=commentItem.user.username  %}

                    <!-- дата публикации -->
                    <div class="container-publication-date-comment">
                        <h4>Дата публикации: {{commentItem.created_at}}</h4>
                    </div>
                </header>
                
                <!-- текст комментария -->
                <div class="container-comment-content">
                    <p>{{commentItem.body_text}}</p>
                </div>
            </article>
            <!-- КОНЕЦ сам комментарий -->
            {% empty %}
            <p style="color: black;">Нет комментариев.</p>
            {% endfor %}

            <!-- добавить комментарий -->
            <div class="add-comment-button container-add-publication" data-publication-id="{{ publicationsItem.id }}" data-add-comment-url="{% url 'image:add_comment' publicationsItem.id %}">
                <div class="special-container-add-publication-plus">
                    <p>+</p>
                </div>
                <div class="special-container-add-publication-title mb-15px">
                    <p>Добавить комментарий</p>
                </div>
            </div>
        </section>
        {% comment %} КОНЕЦ Комментарии {% endcomment %}
    </article>
    {% endfor %}
    
    {% comment %} КОНЕЦ главный контейнер с фото и комментариями {% endcomment %}


    {% comment %} Модальное окно {% endcomment %}
    <div id="commentModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <form class="form" action="" method="post" id="commentForm">
                {% csrf_token %}
                {# Скрытое поле для ID публикации #}
                <input type="hidden" name="publication_id" id="modal_publication_id">
                <!-- заголовок и поля для заполнения комментария -->
                <div class="container-publication-disc comment-add">
                    <label for="id_body_text"><h4>Комментарий:</h4></label>
                    <textarea name="body_text" id="id_body_text" rows="10" required></textarea>
                </div>
                <button type="submit" class="button-green-confirm">Добавить</button>
            </form>
        </div>
    </div>
    {% comment %} КОНЕЦ Модальное окно {% endcomment %}
</main>
{% endblock content %}
    

{% block js %}
    <script src="{% static 'js/open_comments.js' %}"></script>
{% endblock js %}
    